@model PutAVettoWork.Site.Models.EventPost

@{
    ViewData["Title"] = "Eventpost";
}

<div>
    <h3>@Model.Name</h3>
    <hr />
    <div class="mt-3 mb-2">
        @Html.Raw(Model.Content)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
