/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
.navbar {
    background-color: black;
}

header {
    background: url(https://images.unsplash.com/photo-1464660756002-dd9f9a92b01b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=734&q=80);
    background-position: center;
    background-size: cover;
}
li {
    color: black;
}
.lead {
    text-align: center;
}
card {
    margin-top: 10px;
}



/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: azure;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*Mobile Devices*/
@media (min-width: 576px) {
    html {
        font-size: 12px;
    }
    .container {
        max-width: 100%;
    }

}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*/////////////////////////////////////////////////////////////////*/
table.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px dashed #ccc;
}

a.nav-link:hover {
    /*opacity: .3 !important;*/
    background-color: #5a5656;
}

div.ajaxbg {
    background: rgba(255,255,255, .8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

    div.ajaxbg > img {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    div.ajaxbg > p {
        position: absolute;
        top: 50px;
        z-index: 2;
    }

li.nav-item.logout {
    position: absolute;
    top: 10px;
    right: 10px;
    list-style: none;
}

/* This is the CSS for the website created by Jacob Crafton */

body {
    font-family: 'Lato', sans-serif;
    color: black;
    background-color:whitesmoke;
}

#header {
    background: url(https://images.pexels.com/photos/54098/us-army-soldiers-army-men-54098.jpeg);
    background-position: center;
    background-size: cover;
}

#header h1 {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    color: whitesmoke;

}

#header h3 {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
}

#partners li {
    color:black;
}

#partner .lead {
    text-align: center;
}

card {
    margin-top: 10px;
}

.navbar {
    background-color: black;
}

.navbar-brand {
    font-weight: 900;
    color: white;
}

.nav-link {
    color: white;
}

.card h5 {
    color: black;
    text-align: center;
    text-transform: uppercase;
}

hr {
    border-top: 2px solid black;
    width: auto;
}

.faces {
    border-radius: 100%;
}
 
.nav .btn {
    color: white;
}

.navright {
    float: right;
}

/*Event CSS*/

#cardlist {
    padding: 10px;
}

#eventcard:hover {
    background-color: #D3D3D3;
}

/* Style the counter cards */
#eventcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #C0C0C0;
}