@model IEnumerable<Category>

<ul class="list-group">

    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Jobs" asp-action="Index">All Jobs</a>
    </li>

    @foreach (var item in Model)
    {
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Jobs" asp-action="JobsByCategory" asp-route-categorySlug="@item.Slug">@item.Name</a>
    </li>
    }

</ul>